<!-- src/_includes/layouts/base.njk -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseUrl }}css/style.css">
    {% block styles %}{% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <div class="grid">
        <div class="item main {% if page.url == '/' %}home-main{% else %}post-main{% endif %}">
            {% block main %}{% endblock %}
        </div>
        <div class="item sidebar">
            <h1 class="title"></h1>
            <a href="/" class="side-text">
                alexanderharding
            </a>
        </div>
    </div>
</body>
</html>
