{% extends "layouts/base.njk" %}

{% block main %}
<h1 class="main-heading">alex harding exists at the roundabout of art and code</h1>
<div class="main-menu">
    {% for post in collections.posts %}
        {# <li> #}
            <a href="{{ site.pathPrefix }}posts/{{ post.fileSlug }}/">{{ post.data.title }}</a>
        {# </li> #}
    {% endfor %}
</div>
{% endblock %}
