{% extends "layouts/base.njk" %}

{% block main %}
<h1 class="title">Ooooooooo</h1>
{# <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit...</h2> #}
<br><br>
<!-- Loop through the sorted collection of posts -->
<ul>
    {% for post in collections.posts %}
        <li>
            <h3>
            <a href="{{ site.pathPrefix }}posts/{{ post.fileSlug }}/">{{ post.data.title }}</a>
            </h3>
        </li>
    {% endfor %}
</ul>
{% endblock %}
