<!-- src/_includes/layouts/home.njk -->
{% extends "layouts/base.njk" %}

{% block main %}
<h1 class="title">Alex Harding</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>

<!-- Loop through the sorted collection of posts -->
<ul>
    {% for post in collections.posts %}
        <li>
            <a href="{{ pathPrefix }}posts/{{ post.fileSlug }}/">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
