/* Specific styles for posts */
.post-main p {
    font-size: 20px;
    /* Example: Change font size for paragraphs in posts */
    font-weight: normal;
    /* Example: Change font weight for paragraphs in posts */
    color: orange;
}

.post-main a {
    color: blue;
    /* Example: Change link color for posts */
    text-decoration: underline;
    /* Example: Add underline to links in posts */
}