:root {
  --base-main-bg: black;
  --base-main-text: white;
  --base-sidebar-bg: white;
  --base-sidebar-text: black;
  --heading-weight: normal;
}

/* Alternate Color Scheme 1 */
.color-scheme-1 {
  --base-main-bg: #f0f8ff;
  --base-main-text: #f50000;
  --base-sidebar-bg: #333;
  --base-sidebar-text: #f0f8ff;
}

/* Alternate Color Scheme 2 */
.color-scheme-2 {
  --base-main-bg: #00ff15;
  --base-main-text: #111;
  --base-sidebar-bg: #111;
  --base-sidebar-text: #ffebcd;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

/* BASE STYLING */

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
}

h1 {
  font-size: 145px;
  font-weight: var(--heading-weight);
}   

p {
  font-size: 17px;
  max-width: 650px;
}

/* GRID LAYOUT */

.grid {
  display: grid;
  /* grid-template-columns: minmax(100px, 1200px) 0fr 250px; */
  grid-template-columns: 1fr 250px;
  height: 100vh;
}

.main-column {
  background-color: var(--base-main-bg);
  color: var(--base-main-text);
  padding-left: 0;
  margin-left: 0;
}
.center-column {
  background-color: var(--base-main-bg);
}
.sidebar-column {
  background-color: var(--base-sidebar-bg);
  color: var(--base-sidebar-text);
}

/* HOME PAGE STYLGING */

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between menu items */
  margin-left: -2px;
  padding-left: 0;
  font-size: 24px;
}

a:hover{
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Default font */
}

/* MAIN COLUMN STYLING */

.main-heading {
  margin-top: -40px;
  margin-left: -9px;
}

.main-column {
  padding-left: 20px;
}

/* SIDE BAR STYLING */

.social-links {
  padding-left: 10px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between social links */
}

.big-side-text {
  font-size: 200px;
  line-height: 170px;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Ensures compatibility across different browsers */
  font-weight: var(--heading-weight);
  padding-top: 0px;
  padding-left: 5px;
}

/* VIDEO PLAYER STYLING */

.video-wrapper {
  position: relative;
  width: calc(100% + 20px); /* Account for padding on main column */
  left: -20px; /* Shift to the left to negate padding */
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
