/* src/css/style.css */
* {
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
  color: green;
}

a:link, a:visited, a:hover, a:active {
  color: inherit; /* Use inherit to keep the same color as the surrounding text */
  text-decoration: none; /* Ensure no underline on hover, active, etc. */
}

p {
  font-size: 17px;
  font-weight: lighter;
  max-width: 850px;
}

ul{
  list-style-type: none;
  color: red;
}

h1{
  text-align: justify;
  /* font-weight: light; */
  font-size: 145px;
}

h2{
  font-size: 65px;
}

h3{
  font-weight: lighter;
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: minmax(100px, 1300px) 1fr 250px;
  height: 100vh; /* This ensures the grid takes the full height of the viewport */
}

.side-text {
  /* font-size: 200px; */
  word-wrap: break-word;
  overflow-wrap: break-word; /* Ensures compatibility across different browsers */
}

.social {
  display: block;
  line-height: 1;
  margin: 2px 0; /* Adjust this value as needed */
}


.title {
  text-align: left;
}

/* Home main section styles */
.home-main {
  background-color: #8afdaa; /* Example background color for home page */
  padding: 2rem;
  grid-column: 1;
}

.home-main ~ .middle {
  background-color: #8afdaa; /* Same color as home main */
}

/* Post main section styles */
.post-main {
  background-color: #fffacd; /* Example background color for post pages */
  padding: 2rem;
  grid-column: 1;
}

.post-main ~ .middle {
  background-color: #fffacd; /* Same color as post main */
}

/* Sidebar styles */
/* .sidebar {
  background-color: #f4f4f4;
  grid-column: 3;
} */

.sidebar {
  background-color: #f4f4f4;  /* Default color for the home page */
  /* Other sidebar styles */
  line-height: 100px;
  padding: 50px 10px;
}

.sidebar.post-sidebar {
  background-color: #ffffff;  /* Different color for post pages */
  /* Other sidebar styles for post pages */
}

.side-text {
  color: black;  /* Example default color for the sidebar text */
}


.sidebar.post-sidebar .side-text {
  color: rgb(225, 53, 53);  /* Example different color for the sidebar text on post pages */
}

.big-side-text {
  font-size: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Ensures compatibility across different browsers */
  line-height: 170px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}